rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function role() {
      return firestore.get(
        /databases/(default)/documents/profiles/$(request.auth.uid)
      ).data.role;
    }

    function isAdmin() {
      return signedIn() && role() == "admin";
    }

    match /{uid}/{folder}/{fileName} {
      allow read, write: if signedIn() && request.auth.uid == uid;
      allow read: if isAdmin();
    }
  }
}
